In [3]:
import numpy as np
import pandas as pd

In [11]:
def replace_NaN_with_NA(data, columns):
    for column in columns:
        data[column].replace(np.NaN, 'NA', inplace = True)
    return None

In [12]:
# This function finds the most commonly occurring string value in a series, converts that to a 1 and everything else to a 0. Used to consolidate minority categorical values 
# that you don't think there's a lot of difference between
def binarize_to_most_common_str_val(data, column_tuple):
    for column, new_name in column_tuple:
        true_value = data[column].value_counts().sort_values(ascending=False).index[0]
        data[column] = data[column].str.contains(true_value).astype(int)
        if new_name != None:
            data.rename({column : new_name}, axis = 1, inplace = True)

In [9]:
#convert numeric columns that shouldn't be numeric to objects
def convert_num_to_cat(data, list_columns):
    for column in list_columns:
        data[column] = data[column].astype(str)

In [10]:
def convert_years_to_ages(data, latest_year, column_tuple):
    for column, new_name in column_tuple:
        data[column] = latest_year - data[column]
        if new_name != None:
            data.rename({column : new_name}, axis = 1, inplace = True)

In [14]:
def log_transform(data, columns):
    for feature in columns:
        data[feature] += 1
        data[feature] = np.log(data[feature])
#Citation: Google Bard for idea on how to handle 0s when log transforming